<div class="text-center">
  <h2>{{lottery_drawings.drawing_date}}</h2>
  <h2>{{lottery_drawings.estimated_winning_amt}}</h2></hs>
  <p>{{format_date user_purchases.purchase_date}}</p>
  <p>{{user_purchases.purchase amt}}</p>
</div>
